html, body {
}

html, main{
  margin: 0;
  padding: 0;
}

body,
button {
  font-family: Consolas, "Courier New", Courier, monospace, bold;
  font-style: bold;
  background-color: #222;
  color: #fff;
}

canvas {
  display: block;
}
