html, body {
}

html, main{
  font-family: Consolas, "Courier New", Courier, monospace;
  /* font-family: roboto, sans-serif; */
  margin: 0;
  padding: 0;
}

body,
button {
  font-family: Consolas, "Courier New", Courier, monospace;
}

canvas {
  display: block;
}
